package ru.bardinpetr.itmo.lab_2.pokemons;

{%- if ancestor is none %}
import ru.ifmo.se.pokemon.Pokemon;
{%- endif %}
{%- if types|length != 0 %}
import ru.ifmo.se.pokemon.Type;
{%- endif %}
{%- for i in attacks %}
import ru.bardinpetr.itmo.lab_2.moves.{{i|class_format}};
{%- endfor %}


public class {{name|class_format}} extends {{ancestor|default("Pokemon", true)|class_format}} {

    public {{name|class_format}}(String name, int level) {
        super(name, level);

        setStats({{stats["HP"]}}, {{stats["ATTACK"]}}, {{stats["DEFENSE"]}}, {{stats["SPECIAL_ATTACK"]}}, {{stats["SPECIAL_DEFENSE"]}}, {{stats["SPEED"]}});
        {%- for i in types %}
        addType({{i|type_format}});
        {%- endfor %}
        {%- for i in attacks %}
        addMove(new {{i|class_format}}());
        {%- endfor %}
    }
}